# Browsers that we support

# Production
> 0.5%
last 2 versions
Firefox ESR
not dead
not IE 11

# Mobile browsers
iOS >= 12
Android >= 6

# Desktop browsers
Chrome >= 90
Firefox >= 88
Safari >= 14
Edge >= 90

# Support for modern features
supports es6-module
supports css-grid
